<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container mt-5">   

    <h1 class="text-center">LibraBook</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th><a href="?sort=id&filter={{.Filter}}">ID</a></th>
                <th><a href="?sort=book_name&filter={{.Filter}}">Book Name</a></th>
                <th><a href="?sort=book_author&filter={{.Filter}}">Book Author</a></th>
                <th><a href="?sort=book_genre&filter={{.Filter}}">Book Genre</a></th>
                <th><a href="?sort=book_date&filter={{.Filter}}">Book Date</a></th>
            </tr>
        </thead>

        <form action="/library" method="get">
            <tr>
                <td></td>
                <td><input type="text" class="form-control" id="filter" name="filter" value="{{.Filter}}"></td>
                <td colspan="3"><button type="submit" class="btn btn-primary">Apply Filter</button></td>
            </tr>
        </form>

        <!-- <tbody>
            {{range .Books}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.BookName}}</td>
                <td>{{.BookAuthor}}</td>
                <td>{{.BookGenre}}</td>
                <td>{{.BookDate}}</td>
            </tr>
            {{end}}
        </tbody> -->
    </table>

    <div class="row">
        {{range .Books}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{.BookName}}</h5>
                </div>
            </div>
        </div>
        {{end}}
    </div>

    <div class="pagination justify-content-center">
        {{if .PrevPage}}
        <button class="btn btn-secondary" onclick="goToPage({{.PrevPage}})">Previous</button>
        {{end}}

        {{range .Pages}}
        <button class="btn btn-secondary" onclick="goToPage({{.}})">{{.}}</button>
        {{end}}

        {{if .NextPage}}
        <button class="btn btn-secondary" onclick="goToPage({{.NextPage}})">Next</button>
        {{end}}
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function goToPage(page) {
            window.location.href = '?page=' + page + '&filter={{.Filter}}';
        }
    </script>
</body>

</html>
