body {
    font-family: 'Arial', sans-serif;
    background-color: #c0a8a8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
}

.empty{
    margin-top: 50%;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th:not(:last-child),
td:not(:last-child) {
    margin-right: 10px;
}